@import url('./index.css');
@import url('./header.css');
@import url('./footer.css');

.hero {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.hero__content {
	flex: 1;
}

.content__description {
	color: var(--gris-intenso);
	font-size: 20px;
	width: 1250px;
	margin: 56px auto;
}

.description__title {
	color: var(--morado);
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 32px;
}

.description__first {
	line-height: 32px;
}

.description__textfield {
	text-align: justify;
	line-height: 32px;
}

.content__content {
	display: flex;
	justify-content: center;
	margin-bottom: 64px;
}

.content__contact {
	background-color: var(--blanco);
	padding: 24px 50px;
}

.contact__title {
	font-size: 22px;
	font-weight: 400;
	color: var(--gris-intenso);
	text-align: center;
}

.contact__items {
	margin: 32px 0;
}

.contact__item {
	display: flex;
	align-items: center;
	margin-bottom: 48px;
	color: var(--gris-intenso);
}

.contact__item__anchor {
	display: flex;
	align-items: center;
	color: var(--gris-intenso);
}

.contact__item:last-child {
	margin-bottom: 0; 
}

.item__text {
	padding-left: 40px;
}

.item {
	width: 24px;
	height: 24px;
	color: var(--azul);
}

.item__phone {
	transform: rotate(90deg);
}

.content__comment {
	background-color: var(--gris);
	padding: 24px 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.comment__title {
	color: var(--gris-intenso);
	font-size: 22px;
	font-weight: 400;
	text-align: center;
}

.comment__input__name,
.comment__input__email {
	margin-bottom: 24px;
}

.input__name__text,
.input__textfield__text {
	color: var(--gris-intenso);
	font-size: 16px;
	font-weight: 400;
}

.input__name--container,
.input__email--container,
.input__textfield {
	margin-top: 8px;
	width: 28em;
	height: 32px;
}

.input__textfield {
	height: 160px;
}

.comment__button {
	text-align: center;
}

.comment__button__send {
	border-radius: 18px;
	background-color: var(--morado);
	border: 0;
	padding: 8px 40px;
	color: var(--blanco);
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}