.hero__header {
	background-color: var(--blanco);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 156px;
}

.header__logo {
	margin-left: 64px;
}

.header__logo__img {
	width: 70px;
}

.header__lista {
	font-family: var(--Quicksand);
	display: flex;
	font-size: 18px;
}

.header__lista__item {
	margin: 0 16px;
	position: relative;
}

.header__lista__item:first-child {
	margin-left: 0;
}

.header__lista__item:last-child {
	margin-right: 64px;
}

.header__lista__item:last-child .lista__item__ancla {
	background-color: var(--morado);
	color: var(--blanco);
	font-weight: 700;
	padding: 8px 24px;
	border-radius: 18px;
}

.lista__item__ancla {
	color: var(--morado);
	padding-bottom: 10px;
}

.header__lista__dropdown {
	display: none;
	position: absolute;
	z-index: 10;
	top: 30px;
}

.header__lista__item:first-child:hover .header__lista__dropdown {
	display: block;
}

.header__lista__item:nth-of-type(4):hover .header__lista__dropdown {
	display: block;
}

.dropdown__item__anchor {
	padding: 5px 10px;
	display: block;
	background-color: var(--blanco);
	color: var(--morado);
}

.dropdown__item__anchor:hover {
	background-color: var(--morado);
	color: var(--blanco);
}